*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {   /*This fixes a nasty scrollbar problem in Chrome*/
    display: none;
}

body {
    background-color: #ddd;
    scrollbar-width: none;     /* <-- Should fix Firefox issues as well!*/
}                              /*     Just don't use IE or Edge, haha*/ 

.fl {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
}

header div {
    height: calc(10vh - 20px);
    background-color: hotpink;
    margin-bottom: 20px;
}

.news {
    height: calc(35vh - 20px);
    background-color: khaki;
    margin-bottom: 20px;
}

.info {
    height: 8vh;
    background-color: lightblue;
}

.info-2 {
    background-color: royalblue;
    margin-bottom: 10px;
    padding: 2vh 0;
}

.common {
    background-color: lightblue;
    height: 38vh;

}
.content {
    width: calc(20vw*0.8);          /*The 0.8 multipliers are to offset*/
}                                   /*the 80% width of the container*/   


.content-2 {
    width: calc(58vw*0.8);   
    margin: 0 .8vw;
}

footer {
    height: calc(5vh - 10px);
    background-color: blueviolet;
}
